.block_learnerprofile img.profilepicture {
    height: 100px;
    width: 100px;
}

.block_learnerprofile .learnerprofileitem.fullname {
    font-size: 1.5em;
    font-weight: bold;
}

.block_learnerprofile .learnerprofileitem.edit {
    text-align: right;
}

